.header {
  align-items: center;
  background: var(--primary-color);
  color: white;
  display: flex;
  gap: 1.5rem;
  padding-left: 3rem;
  width: 100%;

  a {
    color: white;
    text-decoration: none;
  }
}

.menu-toggle {
  aspect-ratio: 1;
  background: transparent;
  border-radius: 50%;
  border-color: white;
  color: white;
  
  i {
    background: transparent;
  }
}